ul li p{
   color:#a8bbca;
}

.bg-1{
	background-color: #40bf63;
}
.bg-2{
	background-color: #f69c28;
}
.bg-3{
	background-color: #a8bbca;
}
.bg-4{
	background-color: #44cbf1;
}

.brand-link
{
	margin-top: -55px;
}

.info{
	margin: 1px;
}